.form {
    display: grid;
    gap: 1em;

    grid-template-columns: auto auto;

    max-width: 450px;
    padding: 20px;
}

.form .field:nth-child(-n + 2),
.form > :last-child {
    grid-column: 1 / span 2;
}

.form .field:nth-child(3) {
    display: grid;
    column-gap: 0.25em;
    grid-template-columns: auto auto;
}

.form .field:nth-child(3) > :first-child {
    grid-column: 1 / span 2;
}