:root {
    --err: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --violet-100: hsl(270, 3%, 87%);
    --violet-200: hsl(270, 3%, 87%);
    --violet-300: hsl(249, 99%, 64%);
    --violet-400: hsl(278, 94%, 30%);
    --violet-500: hsl(278, 68%, 11%);
    --grad: linear-gradient(var(--violet-300), var(--violet-400));
    --fs-main: 18px;
    --fs-medium: 14px;
    --fw-main: 500;
    --ff-main: "Space Grotesk";
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('./assets/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

.body {
    font-size: var(--fs-medium);
    font-weight: var(--fw-main);
    line-height: 1.2;
    font-family: var(--ff-main), sans-serif;

    min-height: 100vh;

    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
}

@media (min-width: 1000px) {

    .body {
        font-size: var(--fs-main);
    }
    .container {
        flex-direction: row;;
    
        height: 100vh;
    }
}


