.input {
    font: inherit;
    border: 1px solid var(--violet-100);
    border-radius: 5px;

    outline: none;

    width: 100%;

    cursor: pointer;

    padding: 10px;
}
.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
   appearance: none;
}

.input:not([type="submit"]):focus {
    background: linear-gradient(#fff, #fff) padding-box, var(--grad) border-box;
    border: 1px solid transparent;
}

.field__label_invalid .input {
    border: 1px solid var(--err);
}

.field__label_invalid ~.message {
    visibility: visible;
    color: var(--err);
}

.input[type='submit'],
.submit {
    font: inherit;
    color: var(--white);
    padding: 10px;

    border: 0;
    border-radius: 5px;
    background-color: var(--violet-500);

    transition: 0.3s;

    cursor: pointer;
}

.input[type='submit']:hover,
.input[type='submit']:focus,
.submit:hover,
.submit:focus {
    background-color: var(--violet-400);
}